.settle-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.settle-heading {
    text-align: center;
    margin-top: 0px;
}
.settle-option {
    height: 65px;
    width: 130px;
}