<div>
    <p>Branch: {{data.branchDetails?.branchName}}</p>
</div>
<div class="table">
    <table>
        <thead>
            <th>Item</th>
            <th>Rate</th>
            <th>Qty</th>
            <th>Amount</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of data.orderDetails">
                <td>{{ item.itemName }}</td>
                <td>{{ item.rate }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="data.orderMaster?.discount">
    <p>Discount: {{ data.orderMaster?.discount }}</p>
</div>
<div>
    <p>Net Total: {{ data.orderMaster?.netTotal }}</p>
</div>
