.container {
    display: flex;
    .table{
        width: auto;
        flex-grow: 1;
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        max-height: 300px;
        overflow-y: scroll;
        .btn{
            width: 120px;
            word-break: break-all;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: pre-wrap;
            line-height: 21px;
        }
    }
}
.btn {
    height: 70px;
    margin: 3px;
    width: 100px;
    // prevent overflow
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

* {
    box-sizing: border-box;
}




@media(max-width: 1020px){
    .container{
        .items{
            .btn {
                width: 100%;
            }
        }
    }
}

.action-box {
    padding: 0 10px;
}

.action-box-container {
    margin: 0 -10px;
}

::ng-deep .my-chip .mat-chip-selected {
    background-color: #000 !important;
    color: #b06464;
  }

::ng-deep .owl-dt-container-buttons {
    height: 3em;
  }