<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <ng-container *ngIf="userType!='ADMIN'">
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/orders']">
                <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Orders' | translate }}
            </a>
        </ng-container>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/customers']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Customers' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/items']">
            <mat-icon class="sidenav-icon">local_laundry_service</mat-icon> {{ 'Items' | translate }}
        </a>
        <ng-container *ngIf="userType=='ADMIN'">
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/branch']">
                <mat-icon class="sidenav-icon">home</mat-icon> {{ 'Branches' | translate }}
            </a>
        </ng-container>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/reports']">
            <mat-icon class="sidenav-icon">list</mat-icon> {{ 'Reports' | translate }}
        </a>
    </mat-nav-list>
</div>
