<mat-form-field>
  <input
    matInput
    type="text"
    placeholder="Search"
    [(ngModel)]="searchText"
    (keyup.enter)="getOrders()"
  /> </mat-form-field
>&nbsp;
<button mat-raised-button (click)="getOrders()">Search</button>
&nbsp;
<button mat-button color="accent" (click)="quickFilter('PENDING')">Pending Orders</button>
<button mat-button color="primary" (click)="quickFilter('PAID')">Paid Orders</button>
<button mat-button color="primary" (click)="quickFilter('DELIVERED')">Delivered Orders</button>
<button mat-button color="warn" (click)="quickFilter('CANCELLED')">Cancelled Orders</button>
<div class="table">
  <table>
    <thead>
      <th>DATE</th>
      <th>ORDER NUMBER</th>
      <th>MOBILE NUMBER</th>
      <th>CUSTOMER</th>
      <th>STATUS</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderDetails">
        <td>{{ item.orderDate | date: 'dd-MM-yyyy hh:mm a' : '+0400' }}</td>
        <td>
          <a [routerLink]="['/takeOrder', item.orderNumber]">{{ item.orderNumber }}</a>
        </td>
        <td>{{ item.customer?.mobile }}</td>
        <td>{{ item.customer?.customerName }}</td>
        <td>
          {{ item.status }} {{ item.cancellationReason && '(' + item.cancellationReason + ')' }}
          {{ item.cancellationTime && '(' + (item.cancellationTime | date: 'dd/MM hh:mm a') + ')' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="text-align: right; margin-top: 5px">
  <button mat-stroked-button [disabled]="index < 1" (click)="updateIndexAndGetOrderList(-1)">
    Previous
  </button>
  &nbsp;
  <button mat-stroked-button [disabled]="disableNext" (click)="updateIndexAndGetOrderList(1)">
    Next
  </button>
</div>
